* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.loginContainer {
  position: fixed;
  bottom: 8em;
  right: 0;
  background-color: blue;
  padding: 10px 18px;
  color: #fff;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 50px;
  margin-right: 2px;
}
.login {
  font-size: 22px;
  color: #fff;
  text-decoration: none;
}
