<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}🫠 S2-Class{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/base.css') }}"
    />
  </head>
  <body>
    <div class="navcontainer">
      <nav class="navbar">
        <h1 class="logo">LOGO</h1>
        <div class="hamburger" id="hamburger">
          <span class="span1"></span>
          <span class="span2"></span>
          <span class="span3"></span>
        </div>
        <ul class="nav-links" id="nav-links">
          <li><a href="/">Home</a></li>
          <li><a href="/users">Sta Mates</a></li>
        </ul>
        {% if logged_in %}
        <a href="/profile"
          ><img
            class="nav-profile-image"
            src="{{ url_for('static', filename=user.profile_image or 'images/default.jpg') }}"
            alt="Profile Image"
        /></a>
        {% endif %}
      </nav>
    </div>
    <main class="allContainer">{% block content %}{% endblock %}</main>
    <script src="{{ url_for('static', filename='js/nav.js') }}"></script>
  </body>
</html>
