<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}🫠 S2-Class{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/base.css') }}"
    />
  </head>
  <body>
    <div class="loginContainer">
      <div class="loginWarpper">
        <a class="login" href="/login">LOG IN</a>
      </div>
    </div>
    <a href="/">Home</a>
    <a href="/login">login</a>
    <a href="/signup">signup</a>
    <!-- <a href="/test">3Dmodel</a> -->
    <main>{% block content %}{% endblock %}</main>
    <!-- <script src="{{ url_for('static', filename='js/scripts.js') }}"></script> -->
  </body>
</html>
