<head>
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/chat.css') }}"
  />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.0/socket.io.js"></script>
</head>
<div class="chat_sec">
  {% extends "base.html" %} {% block content %}
  <h1 class="username_h">{{ receiver.username }}</h1>
  <div id="chat-box">
    {% for message in messages %}
    <div>
      {% if message.sender_id == session['user_id'] %}
      <p class="userMsg">
        {{ message.content }} <strong class="you">:You</strong> {% else %}
      </p>
      <p class="receiverMsg">
        <strong class="receiver">{{ receiver.username }}:</strong> {{
        message.content }}
      </p>
      {% endif %}
    </div>
    {% endfor %}
  </div>

  <div class="message_div">
    <div>
      <input
        class="message_input"
        type="hidden"
        id="receiver_id"
        value="{{ receiver.id }}"
      />
    </div>
    <textarea id="message" placeholder="Type your message here"></textarea>
    <div>
      <button class="chatBtn" onclick="sendMessage()">Send</button>
    </div>
  </div>
  <script src="{{ url_for('static', filename='js/chat.js') }}"></script>
  {% endblock %}
</div>
