<head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/dashboard.css') }}"
    />
    <script src="https://kit.fontawesome.com/2f7d7229fb.js" crossorigin="anonymous"></script>
  </head>
  
  {% extends "base.html" %}{% block content %}
  
  <div class="card">
  <div class="main-content">
    <div class="profile">
        <img src="https://tse1.mm.bing.net/th?id=OIP.L8bs33mJBAUBA01wBfJnjQHaHa&pid=Api&P=0&h=180" alt="Profile Picture">
        <h1>Sharvan</h1>
        <p>Mobile Developer</p>
        <hr>
        <p><i class="fa-solid fa-screwdriver-wrench" style="color: #B197FC;"></i>Skills:</p>
        

        <div class="skills">
            <span>JavaScript</span>
            <span>Python</span>
            <span>React</span>
            <span>Firebase</span>
            <span>gcp</span>
            <span>flutter</span>
            <span>node.js</span>
            <span>heruko</span>
        </div>
        <p>Interests:</p>
        <div class="interests">
            <span>Beginner Friendly</span>
            <span>Databases</span>
            <span>Web</span>
        </div>
    </div>
</div>
  
  
  
  {% endblock %}